
.container {
  background-color: rgb(19, 46, 220); 
  padding: 20px;
}


.cabecalho {
  background-color: rgb(255, 0, 0); 
  text-align: center;     
  padding: 20px;
}


.titulo-principal {
  color: rgb(116, 250, 181);        
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}


.subtitulo {
  color: white;         
  margin: 10px 0 0 0;
}


.conteudo {
  background-color: rgb(144, 165, 42);  
  padding: 20px;
}


.conteudo h1 {
  color: rgb(5, 175, 172);        
  margin: 0;
}


.conteudo p {
  color: rgb(255, 136, 0);           
  margin: 5px 0 0 0;
}
.conteudo > p:nth-child(3) {
  color: purple;
  vertical-align: sub;
  font-size: 16px; 
}


@media (max-width: 480px) {
  .container {
    background-color: #000000; 
  }
}